/* GENERAL STYLES
-------------------------------------------------*/


/**
 *
 *
	Base Type
	Scale : based on minor 3rd, 1: 1.2
	http://modularscale.com/scale/?px1=16&px2=66&ra1=1.2&ra2=0
 *
 */

 html {
	font-size: 100%;
	height: 100%;
}

body, html {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
}

body {
    background: $bg-white;
    height: 100%;
   
}


h1,
h2,
h3,
h4,
h5,
h6 {
	text-rendering: optimizeLegibility;
	line-height: 1;
	margin-top: 0;
}

.scroll-touch {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.l-container {
	margin: 0 auto;
	max-width: 1170px;
	// padding: 1em 0;
	margin-bottom: 3em;
}

.l-description {
	margin-top: 3em;
}