/* GENERAL STYLES
-------------------------------------------------*/


/**
 *
 *
	Base Type
	Scale : based on minor 3rd, 1: 1.2
	http://modularscale.com/scale/?px1=16&px2=66&ra1=1.2&ra2=0
 *
 */

 html {
	font-size: 100%;
	height: 100%;
}

body {
  background: $bg-white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.625;
  height: 100%;
  color: $color-gray-text;
  -webkit-font-smoothing: antialiased;
}

body, html {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
}

// body, input, select, textarea {
// 	@include transition(all, 0.2s,cubic-bezier(0.42, 0, 0.58, 1) );
// }

h1,
h2,
h3,
h4,
h5,
h6 {
	text-rendering: optimizeLegibility;
	line-height: 1;
	margin-top: 0;
}


h1 {
	font-size: 69px;
	font-size: 4.3rem;
	margin: 69px 0 0 0;
	margin: 4.3rem 0 0 0;
	font-family: $font-lato;
	font-style:normal;
	font-weight:900;
	color: $color-white;
	
	/*** @media (max-width: 767px) ***/
	
	// @include media-breakpoint-down(sm) {
	// 	font-size: 48px;
	// 	font-size: 2.986rem;
	// 	margin: 48px 0 0 0;
	// 	margin: 2.986rem 0 0 0;
	// }
	
	// @include media-breakpoint-down(xs) {
	// 	font-size: 33px;
	// 	font-size: 2.074rem;
	// 	margin: 33px 0 0 0;
	// 	margin: 2.074rem 0 0 0;
	// }
}

h2 {
	font-size: 57px;
	font-size: 3.583rem;
	margin: 57px 0 0 0;
	margin: 3.583rem 0 0 0;
	font-family: $font-lato;
	font-style:normal;
	font-weight:900;
	
	// @include media-breakpoint-down(sm) {
	// 		font-size: 48px;
	// 		font-size: 2.986rem;
	// 		text-align: center;
	// }
}


h3 {
	font-size: 48px;
	font-size: 2.986rem;
	margin: 48px 0 0 0;
	margin: 2.986rem 0 0 0;
	font-family: $font-merriweather;
	font-style:normal;
	font-weight:400;
	color: $color-white;
	line-height: 1.5;
	
	
	// @include media-breakpoint-up(sm) { 
	// 	font-size: 33px;
	// 	font-size: 2.074rem;
	// 	margin: 33px 0 0 0;
	// 	margin: 2.074rem 0 0 0;
	// }
	
	// @include media-breakpoint-down(xs) {
	// 	font-size: 23px;
	// 	font-size: 1.44rem;
	// 	margin: 23px 0 0 0;
	// 	margin: 1.44rem 0 0 0;
	// }
	
}



h4 {
	font-size: 38px;
	font-size: 2.387rem;
	margin: 16px 0 0 0;
	margin: 1rem 0 0 0;
	font-family: $font-lato;
	font-style:normal;
	font-weight:400;
}

h5 {
	font-size: 26px;
	font-size: 1.658rem;
	margin: 23px 0 0 0;
	margin: 1.44rem 0 0 0;
	font-family: $font-lato;
	font-style:italic;
	font-weight:700;
}

h6 {
	font-family: $font-merriweather;
  	font-size: 23px;
  	font-size: 1.44rem;
  	margin: 23px 0 0 0;
  	margin: 1.44rem 0 0 0;
  	line-height: 1.5;
  	color: $color-gray-text;
  	font-weight: 400;
}

p {
  font-family: $font-merriweather;
  font-size: 18px;
  font-size: 1.151rem;
  margin: 16px 0 0 0;
  margin: 1rem 0 0 0;
  line-height: 1.5;
  color: $color-gray-text;
  font-weight: 400;
}

.scroll-touch {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.l-container {
		margin: 0 auto;
		max-width: 1140px;
		padding: 1em 0;
  }
  