.l-menu-container {
    margin: 0 auto;
	max-width: 56rem;
	padding: .5em 0;
}

.pure-menu-heading {
	padding: 0;
}

.pure-menu {
	background: $color-white;
	.pure-menu-list {
		@media (min-width: 48em) {
			float: right;
		}

		.pure-menu-link {
			color: $color-smoky;
			position: relative;
			transition: color .15s ease-in-out;

			&:hover {
				background: $color-white;
				color: $color-cabaret;
			}			
		}
	}
}