.l-menu-container {
    margin: 0 auto;
	max-width: 56rem;
	padding: 1em 0;
}
.pure-menu {
	background: $color-athens-gray;
	.pure-menu-list {
		@media (min-width: 48em) {
			float: right;
		}

		.pure-menu-link {
			color: $color-smoky;
		}
	}
}